<html>

<head th:replace="~{header::header}"></head>

<body>
    <div class="container">
        <form th:action="@{/user/editUser/{id}(id=${editUser.id})}" method="post" th:object="${editUser}">
            <legend>Editar Usuário</legend>
            <div class="mb-3">
                <label class="form-label">Nome do Usuário</label>
                <input class="form-control" type="text" id="name" name="name" th:field="*{name}" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <input type="submit" value="Editar Usuário" class="btn btn-primary">
        </form>
    </div>
</body>

</html>