<html>

<head th:replace="~{header::header}"></head>

<body>
    <h1>Listagem de tarefas</h1>
    <a th:href="@{/task/{id}/create(id=${id_user})}">Criar Tarefa</a>
    <br />
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nome</td>
                <td>Status</td>
                <td>Data de Criação</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${listaTarefas}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.createdDate}"></td>
                <td>
                    <a th:href="@{/edit/{id}(id=${task.id})}">Editar</a>
                    <a th:href="@{/delete/{id}(id=${task.id})}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>